.title-section {
  font-family: var(--ff-title);
  text-align: center;
  align-items: center;
  font-size: var(--fs-h3);
  color: var(--clr-accent);
}

.question-count {
  font-family: var(--ff-ansHov);
}

.question-text {
  font-family: var(--ff-quextion);
}

.answer-section {
  display: flex;
  flex-direction: column;
}

.answer-section button{
  font-family: var(--ff-ansHov);
  color: var(--clr-light);
  background-color: var(--clr-accent);
  padding: .5em;
  margin: 1em;
  border-radius: .2em;
  border: none;
}

.answer-section button:hover {
  font-family: var(--ff-answer);
  font-weight: 900;
  color: var(--clr-accent);
  border: .2em solid var(--clr-dark);
  background-color: var(--clr-light);
  padding: calc(.51em - .2em);
}